<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Sand Rulesets</string>
	<key>uuid</key>
	<string>82544F63-B7AB-477D-AD5F-3BEB9ACC0A49</string>
</dict>
</plist>
